body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: 0;
  outline: 0;
}

html,
body {
  height: 100%;
}
#root {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 320px;
  min-width: 320px;
  padding: 25px;
  border-right: 1px solid #cccc;
  .logo {
    margin-bottom: 25px;
    a {
      font-size: 30px;
    }
  }
  .description {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.7;
    color: #999;
  }

  .menu {
    ul {
      li {
        a {
          display: block;
          font-weight: 600;
          color: #333;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: #0099e5;
          }
        }
      }
    }
  }
}

.about-modal {
  max-width: 720px;
  background: #fff;
  padding: 50px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  .close-modal-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    background-color: #ddd;
    width: 40px;
    height: 40px;
    transition: 300ms ease-in-out all;
    svg {
      width: 20px;
      height: 20px;
    }

    cursor: pointer;
    &:hover {
      background-color: #999;
      svg {
        color: #fff;
      }
    }
  }
  h3 {
    margin-bottom: 25px;
    font-size: 25px;
  }

  p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.7;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    color: #999;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
}

.about-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#fff, 0.8);
}

.content {
  flex: 1;
  overflow: auto;
  background: #f8f8f8;
  .header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    position: sticky;
    background: #fff;
    align-items: center;
    top: 0;
    .search {
      flex: 1;
      position: relative;
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 20px;
          height: 20px;
          color: #999;
        }
      }

      input {
        width: 100%;
        height: 100%;
        font-size: 16px;
        padding: 0px 20px 0px 60px;
        &:focus {
          border-color: #0099e5;
        }
      }
    }
  }
}

.brand {
  padding: 25px;
  .brands {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    h5 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  .brand-colors {
    display: flex;
    span {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
      text-indent: -9999px;
      width: 70px;
      margin: 0 5px;
    }
  }
}
.active {
  border-color: #34bf49 !important;
  .brand-colors {
    span {
      flex: 1;
      text-indent: 0;
      .copy-icon {
        margin-right: 5px;
      }
    }
  }
}

.copy-icon {
  display: none;
}

.brand-color:hover {
  .copy-icon {
    display: block;
    width: 25px;
    height: 25px;
  }
}
.copied {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 15px 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.download {
  display: flex;
  padding-right: 30px;
}
.selected {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #999;
  &:hover {
    color: #252323;
  }
  cursor: pointer;
  svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
}
.action {
  display: flex;
  align-items: center;
  a,
  button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      width: 18px;
      height: 18px;
      color: #999;
      &:hover {
        color: #252323;
      }
    }
  }
}

.select-css {
  margin-right: 7px;
  appearance: none;
  background-color: #eee;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: #252323;
  }
  option {
    color: #252323;
  }
}
